<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's your number</title>
</head>
<body>
    <h1>Your Number is...</h1>
    <h2> <%= number %> </h2>
    <h1>Bread</h1>
    <h2><%= query.bread %></h2>
    <h1>Cheese</h1>
    <h2><%= query.cheese %> </h2>
    
</body>
</html>